/AbstractBook/MidwestASB2020_AbstractBook.synctex.gz
/AbstractBook/MidwestASB2020_AbstractBook.out
/AbstractBook/MidwestASB2020_AbstractBook.log
/AbstractBook/MidwestASB2020_AbstractBook.ind
/AbstractBook/MidwestASB2020_AbstractBook.ilg
/AbstractBook/MidwestASB2020_AbstractBook.idx
/AbstractBook/MidwestASB2020_AbstractBook.fls
/AbstractBook/MidwestASB2020_AbstractBook.fdb_latexmk
/AbstractBook/MidwestASB2020_AbstractBook.aux
/Abstracts
/AbstractsManual
AbstractsManual.zip
/.idea
/__pycache__
ASB2020_RegistrationForm_Data_1583770019.csv
ASB2020_RegistrationForm_Data_1583770019.xlsx

